<div class="mainLogCon">
	<div class="loginCon">
		<h2 class="mb-4">Log In</h2>
		<div class="row">
			<div class="form-group col-12">
				<mat-form-field class="w-100">
					<input matInput type="text" name="name" placeholder="Name" [(ngModel)]="model.name">
				</mat-form-field>
			</div>
			<div class="form-group col-12">
				<mat-form-field class="w-100">
					<input matInput type="password" name="password" placeholder="Password" [(ngModel)]="model.pwd">
				</mat-form-field>
			</div>
			<div class="form-group col-12 text-right">
				<a class="thLink" href="/forgotPassword" title="Forgot Password">Forgot password?</a>
			</div>
			<div class="form-group col-12">
				<button mat-raised-button class="mt-2 thBtn w-100" color="primary">Login</button>
			</div>
			<div class="form-group col-12 text-left">
				<p>Don't have a account? <a class="thLink" href="/signUp" title="Sign Up">Signup</a></p>
			</div>
		</div>
	</div>
</div>