<app-header (headerClassChange)="toggleMainSec()"></app-header>
<section class="transition3ms UP_mainCon" [ngClass]="{'open': mainToggle}">
	<div class="UP_con">
		<h2 class="text-left"><i class="fa fa-film headIcon"></i>Movies</h2>
		<hr class="headSep">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-3">
						<mat-form-field class="w-100">
							<mat-select placeholder="Select Category" [(ngModel)]="movieListObj.categoryId">
								<mat-option *ngFor = "let c of allCategories" [value]="c.id">{{c.categoryName}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-3">
						<mat-form-field class="w-100">
							<input matInput type="text" name="title" placeholder="Search Title" [(ngModel)]="movieListObj.title">
						</mat-form-field>
					</div>
					<div class="col-md-2">
						<button mat-mini-fab color="primary" matTooltip="Search" (click)="searchMovies()" class="mt-3"><i class="fa fa-search"></i></button>
						<button *ngIf="filtered" mat-mini-fab color="warn"  matTooltip="Clear Filter" (click)="clearFilter()" class="mt-3 ml-3"><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>
			<div class="col-12" *ngFor = "let m of movies">
				<div class="movieMainCon">
					<div class="posterCon">
						<img src="{{m.tbl_movie.photoUrl}}" alt="Movie Poster">
					</div>
					<div class="MoviedataCon" >
						<h2>{{m.tbl_movie.title}} ({{m.tbl_movie.year}})
							<a *ngIf="!m.favorite" title="Add to Favorite" (click)="addToFavorite(m.tbl_movie.id)" class="float-right text-danger"><i class="fa fa-heart-o"></i></a>
							<a *ngIf="m.favorite" title="Remove from Favorite" (click)="removeFromFavorite(m.tbl_movie.id)" class="float-right text-danger"><i class="fa fa-heart"></i></a>
						</h2>
						<p class="cat"><span>{{m.tbl_movie.category.categoryName}}</span></p>
						<p>{{m.tbl_movie.description}}</p>
						<p><b>Director:</b>&nbsp;<span>{{m.tbl_movie.director}}</span></p>
						<p><b>Distributor:</b>&nbsp;<span>{{m.tbl_movie.distribution}}</span></p>
						<p class="text-warning">
							<i *ngFor="let item of star; let i=index" (click)="setStartList(i,m.id)" class="fa pointer starRating" [ngClass]="{'fa-star-o':!item,'fa-star':item}"></i>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</section>
<div *ngIf="showLoader" style="position: fixed; z-index: 1003; left: 0; top: 0; bottom: 0; right: 0; background: #bfbfbf75; opacity: 1;">
    <img id="loadinggif" src="assets/images/load.gif" style="width: 100px; height: 100px; position: absolute; top: 50%; left: 50%; margin: -28px 0 0 -25px;">
</div>