<app-header (headerClassChange)="toggleMainSec()"></app-header>
<section class="transition3ms UP_mainCon" [ngClass]="{'open': mainToggle}">
	<div class="UP_con">
		<h2 class="text-left"><i class="fa fa-bar-chart headIcon"></i>Admin Dashboard</h2>
		<hr class="headSep">
		<div class="row">
			<div class="col-12">
				<div class="card shadow form-group p-3">
					<div class="d-block">
					  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"  [colors]="barColors" [legend]="barChartLegend" [chartType]="barChartType" ></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card shadow form-group">
					<div class="d-block">
						<canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow form-group">
					<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow form-group">
					<canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</section>