<app-header (headerClassChange)="toggleMainSec()"></app-header>
<section class="transition3ms UP_mainCon" [ngClass]="{'open': mainToggle}">
	<div class="UP_con">
		<h2 class="text-left"><i class="fa fa-bar-chart headIcon"></i>Admin Dashboard</h2>
		<hr class="headSep">
		<div class="row">

			<div class="col-4">
				<mat-form-field>
					<mat-select placeholder="Select Time Period" [(ngModel)]="timeperiodId" (ngModelChange)="getAllTimePeriodsDataById($event)">
						<mat-option *ngFor="let row of timeperiod" value="{{row.id}}">{{row.timePeriod}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="col-12">
				<div class="card shadow form-group p-3">
					<div class="d-block">
					  <canvas baseChart [datasets]="barChartDataTimePeriod" [labels]="barChartLabelsTimePeriod" [options]="barChartOptions"  [colors]="barColors" [legend]="barChartLegendTime" [chartType]="barChartType" ></canvas>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="card shadow form-group p-3">
					<div class="d-block">
					  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"  [colors]="barColors" [legend]="barChartLegend" [chartType]="barChartType" ></canvas>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="card shadow form-group p-3">
					<div class="d-block">
					  <canvas baseChart [datasets]="barChartDataAge" [labels]="barChartLabelsAge" [options]="barChartOptions"  [colors]="barColors" [legend]="barChartLegendAge" [chartType]="barChartType" ></canvas>
					</div>
				</div>
			</div>
			
			<div class="col-12">
				<div class="card shadow form-group p-3">
					<div class="d-block">
					  <canvas baseChart [datasets]="barChartDataGender" [labels]="barChartLabelsGender" [options]="barChartOptions"  [colors]="barColors" [legend]="barChartLegendGender" [chartType]="barChartType" ></canvas>
					</div>
				</div>
			</div>

		</div>
	</div>
	<app-footer></app-footer>
</section>