<div class="mainLogCon">
	<div class="loginCon">
		<h2 class="mb-4">Log In</h2>
		<div class="row">
			<div class="form-group col-6">
				<mat-form-field class="w-100">
					<input matInput type="text" name="firstName" placeholder="First Name" [(ngModel)]="user.firstName" required>
				</mat-form-field>
			</div>
			<div class="form-group col-6">
				<mat-form-field class="w-100">
					<input matInput type="text" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName" required>
				</mat-form-field>
			</div>
			<div class="form-group col-12">
				<mat-form-field class="w-100">
					<input matInput type="email" name="Email" placeholder="Email" [(ngModel)]="user.Email" required>
				</mat-form-field>
			</div>
			<div class="form-group col-12">
				<mat-form-field class="w-100">
					<input matInput type="text" name="username" placeholder="Username" [(ngModel)]="user.username" required>
				</mat-form-field>
			</div>
			<div class="form-group col-6">
				<mat-form-field class="w-100">
					<input matInput type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required>
				</mat-form-field>
			</div>
			<div class="form-group col-6">
				<mat-form-field class="w-100">
					<input matInput type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="user.confirmPassword" required>
				</mat-form-field>
			</div>
			<div class="row mx-0 w-100">
				<div class="col-6 text-left">
					<mat-radio-button value="1" color="primary" class="thRadio">Female</mat-radio-button>
				</div>
				<div class="col-6 text-left">
					<mat-radio-button value="2" color="primary" class="thRadio">Male</mat-radio-button>
				</div>
			</div>
			<div class="form-group col-12">
				<button mat-raised-button class="mt-2 thBtn w-100" color="primary">Login</button>
			</div>
			<div class="form-group col-12 text-left">
				<p>Don't have a account? <a class="thLink" href="/signUp" title="Sign Up">Signup</a></p>
			</div>
		</div>
	</div>
</div>