 <div class="mainLogCon py-5">
	<div class="loginCon">
		<h2 class="mb-4">Sign Up</h2>
		<div class="row">
			<div class="form-group col-6">
				<mat-form-field class="w-100">
					<input matInput type="text" name="firstName" placeholder="First Name" [(ngModel)]="signupObj.first_name" required>
				</mat-form-field>
			</div>
			<div class="form-group col-6">
				<mat-form-field class="w-100">
					<input matInput type="text" name="lastName" placeholder="Last Name" [(ngModel)]="signupObj.last_name" required>
				</mat-form-field>
			</div>
			<div class="form-group col-12">
                <mat-form-field class="w-100">
                    <input matInput type="text" maxlength="10" OnlyNumber="true" name="number"  placeholder="Phone Number" [(ngModel)]="signupObj.phone" required>
                </mat-form-field>
            </div>
			<div class="form-group col-12">
				<mat-form-field class="w-100">
					<input matInput type="email" name="Email" placeholder="Email" [(ngModel)]="signupObj.email" required>
				</mat-form-field>
			</div>
			<div class="form-group col-12">
				<mat-form-field class="w-100">
					<input matInput type="text" OnlyNumber="true" maxlength="3" name="age" placeholder="Age" [(ngModel)]="signupObj.age" required>
				</mat-form-field>
			</div>
			<div class="form-group col-6">
				<mat-form-field class="w-100">
					<input matInput type="password" name="password" placeholder="Password" minlength="6" [(ngModel)]="signupObj.password" required>
				</mat-form-field>
			</div>
			<div class="form-group col-6">
				<mat-form-field class="w-100">
					<input matInput type="password" name="confirmPassword" placeholder="Confirm Password"  minlength="6" [(ngModel)]="signupObj.confirmPassword" required>
				</mat-form-field>
			</div>
			<div class="row mx-0 w-100">
				<mat-radio-group [(ngModel)]="signupObj.gender">
					<div class="col-6 text-left">
						<mat-radio-button value="MALE" color="primary" class="thRadio">Male</mat-radio-button>
					</div>
					<div class="col-6 text-left">
						<mat-radio-button value="FEMALE" color="primary" class="thRadio">Female</mat-radio-button>
					</div>
				</mat-radio-group>
			</div>
			<div class="form-group col-12">
				<button mat-raised-button id="sBtn" class="mt-2 thBtn w-100" color="primary" (click)="registerUser()">Register</button>
			</div>
			<div class="form-group col-12 text-left">
				<p>Already have an account? <a class="thLink" [routerLink]="['/login']" title="Login">login here</a></p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="showLoader" style="position: fixed; z-index: 1003; left: 0; top: 0; bottom: 0; right: 0; background: #bfbfbf75; opacity: 1;">
    <img id="loadinggif" src="assets/images/load.gif" style="width: 100px; height: 100px; position: absolute; top: 50%; left: 50%; margin: -28px 0 0 -25px;">
</div>