<app-header (headerClassChange)="toggleMainSec()"></app-header>
<section class="transition3ms UP_mainCon" [ngClass]="{'open': mainToggle}">
	<div class="UP_con">
		<h2 class="text-left"><i class="fa fa-calendar headIcon"></i>User Suggestions</h2>
		<hr class="headSep">
		<div class="row mx-0">
			<div class="col-12">
				<div class="card shadow py-3 my-4">
					<div class="row mx-0">
						<div class="table-responsive text-center px-3">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Title</th>
										<th>Year</th>
										<th>Director's Name</th>
										<th>Category</th>
										<th>Distribution</th>
										<th>Description</th>
										<th>Movie's Poster</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let sRow of allSuggestedMovies">
										<td class="align-middle">{{sRow.title}}</td>
										<td class="align-middle">{{sRow.year}}</td>
										<td class="align-middle">{{sRow.director}}</td>
										<td class="align-middle">{{sRow.category.categoryName}}</td>
										<td class="align-middle">{{sRow.distribution}}</td>
										<td class="align-middle">
											<span class="descNowRap pointer" matTooltip="{{sRow.description}}">{{sRow.description}}</span>
										</td>
										<td class="align-middle">
											<img src="{{sRow.photoUrl}}" class="img-fluid" style="height: 120px;width: 100px;" alt="Movies Poster">
										</td>
										<td class="align-middle">
											<button mat-raised-button class="mr-2 mb-2 bg-success text-white" style="width:90px" (click)="AcceptMovieModal(sRow.id)">Accept</button>
											<button mat-raised-button color="warn" class="mr-2 mb-2" style="width:90px" (click)="RejectMovieModal(sRow.id)">Decline</button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td *ngIf="allSuggestedMovies.length == 0" colspan="8" class="text-left">No Records Found.</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- Decline Movie -->
	<div class="modal fade" id="decMovie">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Decline Movie</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<p>Are you sure, You want to decline this Movie?</p>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn shadow btn-primary" (click)="rejectMovie()">Confirm</button>
					<button id="closeDeclineMovie" type="button" class="btn shadow btn-light" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<!-- Accept Movie -->
	<div class="modal fade" id="accMovie">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Accept Movie</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<p>Are you sure, You want to accept this Movie?</p>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn shadow btn-primary" (click)="acceptMovie()">Confirm</button>
					<button id="closeaccMovie" type="button" class="btn shadow btn-light" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>
	<button id="accessRejMovieModal" class="d-none" data-toggle="modal" data-target="#decMovie"></button>
	<button id="accessAccMovieModal" class="d-none" data-toggle="modal" data-target="#accMovie"></button>
	<app-footer></app-footer>
</section>