<app-header (headerClassChange)="toggleMainSec()"></app-header>
<section class="transition3ms UP_mainCon" [ngClass]="{'open': mainToggle}">
	<div class="UP_con">
		<h2 class="text-left"><i class="fa fa-calendar headIcon"></i>View Grades</h2>
		<hr class="headSep">
		<div class="row">
			<div class="col-12">
				<div class="table-responsive">
					<table class="table text-center">
						<thead>
							<tr>
								<th>Movie Name</th>
								<th>Username</th>
								<th>Grade</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let g of allGrades">
								<td>{{g.tbl_movie.title}}</td>
								<td>{{g.tbl_user.first_name}} {{g.tbl_user.last_name}}</td>
								<td>{{g.grade}}</td>
								<td>{{commonService.formateDate(g.date)}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td *ngIf="allGrades.length == 0" colspan="4" class="text-left">No Records Found.</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div class="col-md-8">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
	                <li [ngClass]="{disabled:pager.currentPage === 1}">
	                    <a class="page-link" (click)="setPage(1)">First</a>
	                </li>
	                <li [ngClass]="{disabled:pager.currentPage === 1}">
	                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
	                </li>
	                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
	                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
	                </li>
	                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
	                </li>
	                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	                    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
	                </li>
                </ul>
            </div>
		</div>
	</div>
	<app-footer></app-footer>
</section>
<div *ngIf="showLoader" style="position: fixed; z-index: 1003; left: 0; top: 0; bottom: 0; right: 0; background: #bfbfbf75; opacity: 1;">
	<img id="loadinggif" src="assets/images/load.gif" style="width: 100px; height: 100px; position: absolute; top: 50%; left: 50%; margin: -28px 0 0 -25px;">
</div>